<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyWatch</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <script>

        window.onload = function(){
            //自动加载首页
            $.ajax({
                url:"{{ url_for('first_page') }}",
                type:'GET',
                success:function(data){
                    $('#index_frame').contents().find('body').html(data)
                }
            });
        }
    </script>
</head>
<body>
    {% if user is none %}
        <div id="div_head">
            <a href="/goto_login" id="login_a">登录</a>
            <a href="/goto_upload" id="upload_a" target="blank">投稿</a>
        </div>
    {% else %}
        <div id="div_head">
            <a href="/goto_userCenter?uid={{ user[0] }}" id="login_a" target="blank" style="font-size: 0.7rem;
                color: rgb(240, 146, 146)">{{ user[1] }}</a>                
            <a href="/goto_upload" id="upload_a" target="blank">投稿</a> 
            <a href="/unlogin" id="unlogin_a" style="padding-left: 20px;text-decoration: none;font-size: 1.1rem;
                color: rgb(170, 50, 50);font-family: 楷体,Arial, Helvetica, sans-serif;" >退出</a>               
        </div>
    {% endif %}
    <div id="div_title">
        <form action="">
           <input type="text" id="search_input">
           <input type="submit" value="搜索" id="sub_input"> 
        </form>   
    </div>
    <div id="div_table">
        <table style="border-collapse:collapse">
            <th>
                <a href="/first_page" target="index_frame" class="a_sort"><img src="../static/images/first_page.png" alt="首页" title="首页"></a>
            </th>
            <th>
                <a href="/sortByType?type='游戏'" target="index_frame" class="a_sort"><img src="../static/images/game.png" alt="游戏" title="游戏"></a>
            </th>
            <th>
                <a href="/sortByType?type='美食'" target="index_frame" class="a_sort"><img src="../static/images/food.png" alt="美食" title="美食"></a>
            </th>
            <th>
                <a href="/sortByType?type='科技'" target="index_frame" class="a_sort"><img src="../static/images/technology.png" alt="科技" title="科技"></a>
            </th>
            <th>
                <a href="/sortByType?type='生活'" target="index_frame" class="a_sort"><img src="../static/images/life.png" alt="生活" title="生活"></a>
            </th>
            <th>
                <a href="/sortByType?type='娱乐'" target="index_frame" class="a_sort"><img src="../static/images/recreation.png" alt="娱乐" title="娱乐"></a>
            </th>
        </table>
    </div>
    <iframe src="" frameborder="0" name="index_frame" id="index_frame">
    </iframe>
</body>
</html>