<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyWatch</title>
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <link rel="shortcut icon" href="../static/images/favicon.ico">
    <script>

        $(document).ready(function(){

            //自动加载首页
            $.ajax({
                url:"{{ url_for('first_page') }}",
                type:'GET',
                success:function(data){
                    $('#index_frame').contents().find('body').html(data)
                }
            });

            $('#index_a').focus(function(){

                $("#index_img").attr("src","../static/images/index/first_paged.png");
            });

            $("#game_a").focus(function(){

                $("#game_img").attr("src","../static/images/index/gamed.png");
            });

            $("#food_a").focus(function(){
                
                $("#food_img").attr("src","../static/images/index/fooded.png");
            });

            $("#tech_a").focus(function(){

                $("#tech_img").attr("src","../static/images/index/technologyed.png");
            });

            $("#life_a").focus(function(){

                $("#life_img").attr("src","../static/images/index/lifed.png");
            });

            $("#rec_a").focus(function(){

                $("#rec_img").attr("src","../static/images/index/recreationed.png");
            });

            $(".a_sort").blur(function(){

                $("#index_img").attr("src","../static/images/index/first_page.png");    
            });

            $("#game_a").blur(function(){

                $("#game_img").attr("src","../static/images/index/game.png");
            });

            $("#food_a").blur(function(){

                $("#food_img").attr("src","../static/images/index/food.png");
            });

            $("#tech_a").blur(function(){

                $("#tech_img").attr("src","../static/images/index/technology.png");
            });

            $("#life_a").blur(function(){

                $("#life_img").attr("src","../static/images/index/life.png");
            });

            $("#rec_a").blur(function(){

                $("#rec_img").attr("src","../static/images/index/recreation.png");
            });
        });
    </script>
</head>
<body>
    {% if user is none %}
        <div id="div_head">
            <a href="/goto_login" id="login_a">登录</a>
            <a href="/goto_upload" id="upload_a" target="blank">投稿</a>
        </div>
    {% else %}
        <div id="div_head">
            <a href="/goto_userCenter?uid={{ user[0] }}" id="login_a" target="blank" style="font-size: 0.7rem;
                color: rgb(240, 146, 146)">{{ user[1] }}</a>                
            <a href="/goto_upload" id="upload_a" target="blank">投稿</a> 
            <a href="/unlogin" id="unlogin_a" style="padding-left: 20px;text-decoration: none;font-size: 1.1rem;
                color: rgb(170, 50, 50);font-family: 楷体,Arial, Helvetica, sans-serif;" >退出</a>               
        </div>
    {% endif %}
    <div id="div_title">
        <form action="">
           <input type="text" id="search_input">
           <input type="submit" value="搜索" id="sub_input"> 
        </form>   
    </div>
    <div id="div_table">
        <table style="border-collapse:collapse">
            <th>
                <a href="/first_page" target="index_frame" class="a_sort" id="index_a">
                    <img src="../static/images/index/first_page.png" alt="首页" title="首页" id="index_img"></a>
            </th>
            <th>
                <a href="/sortByType?type='游戏'" target="index_frame" class="a_sort" id="game_a">
                    <img src="../static/images/index/game.png" alt="游戏" title="游戏" id="game_img"></a>
            </th>
            <th>
                <a href="/sortByType?type='美食'" target="index_frame" class="a_sort" id="food_a">
                    <img src="../static/images/index/food.png" alt="美食" title="美食" id="food_img"></a>
            </th>
            <th>
                <a href="/sortByType?type='科技'" target="index_frame" class="a_sort" id="tech_a">
                    <img src="../static/images/index/technology.png" alt="科技" title="科技" id="tech_img"></a>
            </th>
            <th>
                <a href="/sortByType?type='生活'" target="index_frame" class="a_sort" id="life_a">
                    <img src="../static/images/index/life.png" alt="生活" title="生活" id="life_img"></a>
            </th>
            <th>
                <a href="/sortByType?type='娱乐'" target="index_frame" class="a_sort" id="rec_a">
                    <img src="../static/images/index/recreation.png" alt="娱乐" title="娱乐" id="rec_img"></a>
            </th>
        </table>
    </div>
    <iframe src="" frameborder="0" name="index_frame" id="index_frame">
    </iframe>
</body>
</html>