<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录</title>
    <style>
        *{
            margin: 5px;
        }
        #div_body{
            text-align: center;
            margin-top: 5%;
        }
    </style>
</head>
<body style="background-color: rgb(228, 205, 163);">
    <div id="div_body">
        <div>
            <form action="/user_login" method="POST">
                <input type="text" name="user_name" id="u_name"/><br>
                <input type="password" name="user_pass" id="u_pass"><br>
                <input type="submit" value="登录" id="submit">
            </form>        
        </div>
        <div>
            <a href="/goto_reg" id="reg_link">没有账号？注册</a>
        </div>
    </div>


</body>
</html>