<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <style>
        *{
            margin: 5px;
        }
        body{
            background-color: rgb(197, 165, 143);
        }
        #reg_div{
           margin-top: 10%; 
        }
        input{
            font-family: 楷体;
            font-size: 1.2rem;
            font-weight: 200;
            text-align: center;
            border-radius: 5px;
            border-style:groove;
            outline: none;
            margin-left: 40%;
        }
        input[type='submit']{
            margin-left: 45%;
        }
        input[type='submit']:hover{
            background-color: aqua;
        }
        #flask_msg{
            color: red;
            text-align: center;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    </style>
    <script>
        $(document).ready(function(){

            //校验用户名的格式合法性
            function check_uname_legal(uname){
                var err_msg = "格式合法";
                if(uname.length < 3 || uname.length > 6){
                    err_msg = "长度为3-6个字符";
                    return err_msg;
                }else{
                    if(!uname.match( /^[\u4E00-\u9FA5a-zA-Z0-9]{3,6}$/)){
                        err_msg = "只能由汉字，数字，字母组成";
                        return err_msg;
                    }
                }
                return err_msg;
            }

            // jQuery ajax添加用户名重复性校验
            $('#regist_name').keydown(function(){
                var reg_name = $('#regist_name').val();

                //先做格式校验,格式校验通过在ajax重复性校验
                if(check_uname_legal(reg_name) == "格式合法"){
                
                    $.ajax({
                        url:"{{ url_for('uname_repeat_verify') }}",
                        data:{'reg_name':reg_name},
                        type:'post',
                        success:function(msg){
                            $('#ver_uname_msg').text(msg);

                            if(msg=="验证通过"){    
                                $('#ver_uname_msg').css("color","green");

                                if($('#sub').attr("disabled") == "disabled"){
                                    $('#sub').removeAttr("disabled");
                                }
                            }else{
                                $('#ver_uname_msg').css("color","red");
                                $('#sub').attr("disabled",true)
                            }
                        }
                    });
                }else{
                    $('#ver_uname_msg').css("color","red");
                    $('#ver_uname_msg').text(check_uname_legal(reg_name));
                }
            });

            //校验密码的格式，并返回密码强度判断
            $("#regist_pass").keyup(function(){
                var reg_pass = $("#regist_pass").val();

                var pass_strong = "";

                //判断长度
                if(reg_pass.match(/[^a-zA-Z0-9]/)){
                    pass_strong = "密码只能由数字，大小写字母组成";                    
                    $("#pass_msg").css({"color":"red","font-size":"楷体"});
                    console.log("字符不合法");
                }else{
                    if(reg_pass.length < 6 || reg_pass.length > 12){
                        pass_strong = "密码长度为6-12";
                        $("#pass_msg").css({"color":"red","font-size":"楷体"});
                        console.log("长度不合法");
                    } else{
                        //强度判断
                        if(reg_pass.match(/(^[a-z]+$)|(^[0-9]+$)|(^[A-Z]+$)/g)){
                            pass_strong = "密码强度过低";
                            $("#pass_msg").css({"color":"#FF1717","font-size":"楷体"});
                            console.log([pass_strong,reg_pass]);
                        }else if(reg_pass.match(/(?=.*[0-9])(?=.*[A-Z])(?=.*[a-z])/)){
                            pass_strong="密码强度很高";
                            $("#pass_msg").css({"color":"#00FF00","font-size":"楷体"});
                            console.log([pass_strong,reg_pass]);
                        }else{
                            pass_strong="密码强度中等";
                            $("#pass_msg").css({"color":"#FFFF35","font-size":"楷体"});
                            console.log([pass_strong,reg_pass]);
                        }
                    }            
                }
                
                $("#pass_msg").text(pass_strong);
            });
        });
        
    </script>
</head>
<body>
    <div id="reg_div">
        <form action="/regist" method="POST">
            <input type="text" id="regist_name" name="regist_name" placeholder="用户名" maxlength="6" minlength="3" title="*3-6个字符">
            <p style="display: inline;font-size: 0.9rem;" id="ver_uname_msg"></p>
            <br>
            <input type="password" id="regist_pass" name="regist_pass" placeholder="密码" maxlength="12" minlength="6" title="*6-12个字符">
            <span id="pass_msg"></span>
            <br>
            <input type="submit" value="注册并登陆" id="sub">
        </form> 
    </div>

    <!-- 消息闪现用于后台验证，防止跳过js验证出现的安全问题 -->
    <div id="flask_msg">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages%}
                    {{ message }}
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    
</body>
</html>